 * {
    margin: 0;
    padding: 0;
}




#title{
  
  height: 180px;
  line-height: 180px;
  text-align: center;
  border-radius:60px; 
}
#log{
    
    height: 150px;
    width: 150px;
    position: relative;
    top: -60px;
    left: 40px;
}
#star{
   
    background-color:rgb(251, 251, 251);
    height: 180px;
}
#score{
   
    width: 130px;
    height: 110px;
    position: absolute;
    left: 150px;
    top: 230px;
    
   
    
}
#highPraise{
    
    width: 120px;
    height: 110px;
    position: absolute;
    left: 290px;
    top: 230px;

   
}
#describe{
    
    width: 400px;
    height: 110px;
    position: absolute;
    left: 420px;
    top: 230px;
}
#checkbox{
    
    position: absolute;
    left: 300px;
    width: 400px;
}
#reviewScope{
    background-color:rgb(251, 251, 251);
    height: 200px;
    position: relative;
    top: 20px;
}
#user{
    background-color: rgb(246, 246, 246);
    height: 200px;
    width: 200px;
    position: relative;
    left: 20px;
    display: inline-block;
}

#userHead{
   
    height: 100px;
    width: 100px;
    position: relative;
    left: 45px;
    top: 20px;
}
#message{
    background-color:  rgb(246, 246, 246);
    height: 180px;
    width:600px;
    position: relative;
    left: 400px;
    top: -190px;
    border-radius:60px; border:#ededed 0.4px solid;
}
#messageTime{
    
    width: 300px;
    position: relative;
    top: 50px;
    left: 40px;
}
#messageLeave{
    
    height: 100px;
    width: 500px;
    position: relative;
    top: 30px;
    left: 40px;
}



