<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foo.wetrip.dao.ScenicTypeMapper">
  <resultMap id="BaseResultMap" type="com.foo.wetrip.bean.ScenicType">
    <id column="scenic_type_id" jdbcType="INTEGER" property="scenicTypeId" />
    <result column="scenic_type_name" jdbcType="VARCHAR" property="scenicTypeName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    scenic_type_id, scenic_type_name
  </sql>
  <select id="selectByExample" parameterType="com.foo.wetrip.bean.ScenicTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from scenictype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scenictype
    where scenic_type_id = #{scenicTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from scenictype
    where scenic_type_id = #{scenicTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.foo.wetrip.bean.ScenicTypeExample">
    delete from scenictype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.foo.wetrip.bean.ScenicType">
    insert into scenictype (scenic_type_id, scenic_type_name)
    values (#{scenicTypeId,jdbcType=INTEGER}, #{scenicTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.foo.wetrip.bean.ScenicType">
    insert into scenictype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scenicTypeId != null">
        scenic_type_id,
      </if>
      <if test="scenicTypeName != null">
        scenic_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scenicTypeId != null">
        #{scenicTypeId,jdbcType=INTEGER},
      </if>
      <if test="scenicTypeName != null">
        #{scenicTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.foo.wetrip.bean.ScenicTypeExample" resultType="java.lang.Long">
    select count(*) from scenictype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update scenictype
    <set>
      <if test="record.scenicTypeId != null">
        scenic_type_id = #{record.scenicTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.scenicTypeName != null">
        scenic_type_name = #{record.scenicTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update scenictype
    set scenic_type_id = #{record.scenicTypeId,jdbcType=INTEGER},
      scenic_type_name = #{record.scenicTypeName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.foo.wetrip.bean.ScenicType">
    update scenictype
    <set>
      <if test="scenicTypeName != null">
        scenic_type_name = #{scenicTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where scenic_type_id = #{scenicTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foo.wetrip.bean.ScenicType">
    update scenictype
    set scenic_type_name = #{scenicTypeName,jdbcType=VARCHAR}
    where scenic_type_id = #{scenicTypeId,jdbcType=INTEGER}
  </update>
</mapper>